.heroSection {
  min-height: 100vh;
  /* height: 100vh; */
  padding: 80px 32px 0;
}
.heroContent {
  display: flex;
  align-items: center;
  color: #252525;
  justify-content: space-between;
  column-gap: 24px;
}
.heroDetail {
  flex: 2;
}
.heroTitle {
  font-size: var(--infolove-text-xxl);
  font-family: "Miniver", sans-serif;
  font-weight: 700;
  font-style: italic;
  background: linear-gradient(90deg, #ff512f, #dd2476);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heroSubTitle {
  font-size: var(--infolove-text-n);
  font-weight: 600;
  text-indent: 2em;
}
.heroDesc {
  text-align: justify;
  font-family: "Miniver", sans-serif;
}
.heroDescLine {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-indent: 2em;
}
.heroImgWrap {
  flex: 1;
}
.heroImg {
  object-fit: cover;
  border-radius: 10%;
}

/*  */
.containerTab {
  margin-top: 4px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
}

.tabs {
  background: #f5f5f5;
  /* padding: 1rem; */
  /* border-right: 1px solid #ddd; */
}
.tabs > .tabActive {
  border-bottom: none;
}
.tabButton {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: right;
  font-weight: 500;
}
.tabActive {
  border-right: none;
}
.tabContent {
  padding: 1rem;
  background: #fff;
}
.subTabContentIntro {
  display: grid;
  grid-template-columns: 1fr 200px;
}
.subTabContentIntroHidden {
  display: none;
}
.subTabContentIntroImg img {
  height: 80%;
  width: 100%;
}
.subTabContent {
  display: none;
}
.subTabContentActive {
  display: block;
}
