.title {
  text-align: center;
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: bold;
}
.weather {
  padding: 25px;
  margin: auto;
  border-radius: 14px;
  background-color: blueviolet;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input {
  height: 50px;
  padding: 0 20px;
  border: none;
  outline: none;
  border-radius: 40px;
  color: #626262;
  background: #ebfffc;
  font-size: 18px;
}
.search-img {
  width: 50px;
  margin-left: 10px;
  padding: 14px;
  border-radius: 50%;
  background: #ebfffc;
  cursor: pointer;
}
.content {
  text-align: center;
  color: #fff;
}
.content img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin-top: 20px;
}
.location {
  color: #fff;
  font-size: 40px;
}

.weather-data {
  width: 100%;
  margin-top: 40px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 0 10px;
}
.weather-data .col {
  display: flex;
  align-items: center;
  gap: 12px;
}
.weather-data .col img {
  width: 26px;
}
.weather-data .col div {
  line-height: 1.2;
}
