@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Miniver&display=swap");
@import "tailwindcss";
@import "./css/animation.css";

html,
body {
  margin: 0;
  padding: 0;
  /* font-family: "Fira Code", monospace;
  font-optical-sizing: auto; */
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
}

:root {
  --infolove-white-color: #fff;
  --infolove-dark-color: #252525;
  --infolove-primary-color: #3b141c;
  --infolove-secondary-color: #f3961c;
  --infolove-pink-color: #faf4f5;
  --infolove-gray-color: #ccc;

  --infolove-text-s: 0.9rem;
  --infolove-text-n: 1rem;
  --infolove-text-m: 1.12rem;
  --infolove-text-l: 1.5rem;
  --infolove-text-xl: 2rem;
  --infolove-text-xxl: 2.3rem;

  --infolove-site-max-width: 1300px;
}

.app {
  /* display: flex;
  flex-direction: column; */
  height: 100vh;
}

/* phục vụ ReavealOnScroll */
.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.7s ease,
    transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}
