.wrapper {
    background-image: url('@/assets/481874777_657833050073465_9007047459517628461_n.jpg');
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.wrapper form {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.9);
    border-radius: 25px;
    width: 620px;
    color: #fff;
    padding: 24px;
}

.title {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    font-style: italic;
    user-select: none;
}

.inputGroup {
    width: 100%;
    position: relative;
    /* background-color: aqua; */
    /* border-radius: 14px; */
}

.inputGroup input {
    font-size: 18px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    width: 100%;
    border-radius: 40px;
    padding: 10px;
    user-select: none;
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: auto;
}

.inputGroup input:focus {

    outline: 2px solid #fff;
}

.inputGroup input::placeholder {

    font-weight: 600;
    color: #fff;
}



.inputGroup i {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    text-decoration: line-through;
    color: #000;
    user-select: none;

}

.inputGroup i:where(.showPassword) {
    text-decoration: none;
}

.btnCheck {
    margin: auto;
    display: block;
    width: 30%;
    margin-top: 18px;
    border: 2px solid #fff;
    border-radius: 40px;
    padding: 8px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s ease;
    color: #000;
}

.btnCheck:hover {
    background: azure;
    color: #000;
}

.numpad {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 12px;
}

.numpadRow {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.numpadKey {
    width: 54px;
    height: 54px;
    margin: 0 6px;
    border-radius: 12px;
    border: 1px solid #aaa;
    background: #f6f6f6;
    font-size: 22px;
    cursor: pointer;
    transition: background 0.2s;
    color: black;
}

.numpadKey:hover {
    background: #e0e0e0;
}